* {
    margin: 0;
    padding: 0;
}

body {
    background: #E9ECF4;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    /*  border: 10px solid #000; */
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    /* justify-content: space-between; */
    grid-template-areas: "header2 header2 header2" "contenido contenido sidebar" "footer footer footer";
}

.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

.contenedor .header {
    background: #3399FF;
    color: #fff;
    grid-area: header;
}

.contenedor .contenido {
    grid-column: 1 / 2;
    width: 100%;
    max-width: 1200px;
    height: 650px;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: strech;
    align-self: strech;
    /*  grid-row: 2 / 4; */
    min-height: 100px;
    grid-area: contenido;
    background-image: url("../img/parqueos5.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contenedor .sidebar {
    grid-column: 3 / 4;
    background: #fAA43D;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    /*  grid-row: 2 / 4; 
  min-height: 100px;
/*  grid-row: span 2; */
    grid-area: sidebar;
}

.contenedor .footer {
    background: #3399FF;
    color: #fff;
    /*  grid-column: span 3; */
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: footer;
}

.h6 {
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    font-size: 12px;
    /*    background-color: rgba(151, 170, 190, 0.2); */
}

.titulo1 {
    font-size: 35px;
    color: #FFF;
    background-color: rgba(151, 170, 190, 0.2);
}

.titulo2 {
    font-size: 30px;
    color: #FFF;
    background-color: rgba(151, 170, 190, 0.2);
}

.header nav {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    background: #3399FF;
}

.menu_bar {
    display: none;
    border-bottom: #3399FF 1px solid;
}

.header nav ul {
    overflow: hidden;
    list-style: none;
}

.header nav ul li {
    float: right;
    font-size: 17px;
}

.header nav ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    margin-right: 40px;
    text-decoration: none;
}

.header nav ul li span {
    margin-right: 5px;
}

.header nav ul li a:hover {
    background: rgb(53, 225, 255);
    color: #000;
}

.siparweb {
    font-size: 25px;
    color: #FFF;
    text-align: auto;
    align-items: auto;
}

.nav div h3 {
    color: #FFF;
}

.nav-item2 {
    overflow: hidden;
    list-style: none;
}

.nav-item2 a {
    color: #FFF;
}

@media screen and (max-width: 768px) {
    /*
.contenedor .contenido {
  grid-column: 1 / -1;
 }
.contenedor .sidebar {
  grid-column: 1 / -1;
 }
.contenedor .widget-1 {
  grid-column: span 2;
 }
 */
    .contenedor {
        grid-template-areas: "header header header" "contenido contenido contenido" "sidebar sidebar sidebar" "footer footer footer";
    }
    .header nav {
        width: 90%;
        height: 70%;
        left: -100%;
        margin: 0;
        margin-top: 20px;
        position: fixed;
    }
    .header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
}